*{
    margin: 0;
    padding: 0;
}

/*----------------**
 Header styles
**----------------- */

.header-container{
    width: 100%;
    
    background-color: rgba(116, 66, 9, 0.1);

}
.nav-bar{
    display: flex;
    justify-content:space-around;
    padding-top: 50px;
    
}
ul  {
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    list-style: none;
    padding-left: 15px;
   
}
.login-btn{
    width: 50px;
    height: 30px;
    color: aliceblue;
    background-color: coral;
    border: 1px solid coral;
    border-radius: 5px;
}
.login-btn:hover {

    background-color:cadetblue;
    border: 1px solid cadetblue;
    color: black;
}


 /* Header info design */

 .header-info{
   
    width: 870px;
    height: 250px;
    margin-left: 220px;
    margin-top: 100px;
 }

 .header-title{
  text-align: center;
  padding-top: 10px;
  font-size: 48px;
  color: #131313;
  font-family: Work Sans;


 }
 .header-description{
    text-align: center;
    padding-top: 15px;
    color: #727272;

 }
 .btn1{
   position: relative;
   left: 370px;
   top: 20px;
   width: 100px;
   height: 30px;
   color: aliceblue;
   background-color: coral;
   border: 1px solid coral;
   border-radius: 5px;

 }
 .btn1:hover{
    background-color:rgb(28, 54, 7);
    border: 1px solid rgb(15, 58, 17);
    
}

 /* adding banner */
 .banner>img{
    width: 1100px;
    height: 550px;
    position: relative;
    left: 120px;
 
 }

