*{
    margin: 0;
    padding: 0;
}

/*----------------**
 Header styles
**----------------- */

.header-container{
    width: 100%;
    
    background-color: rgba(116, 66, 9, 0.1);

}
.nav-bar{
    display: flex;
    justify-content:space-around;
    padding-top: 50px;
    
}
ul  {
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    list-style: none;
    padding-left: 15px;
   
}
.login-btn{
    width: 50px;
    height: 30px;
    color: aliceblue;
    background-color: coral;
    border: 1px solid coral;
    border-radius: 5px;
}
.login-btn:hover {

    background-color:cadetblue;
    border: 1px solid cadetblue;
    color: black;
}


 /* Header info design */

 .header-info{
   
    width: 870px;
    height: 250px;
    margin-left: 220px;
    margin-top: 100px;
 }

 .header-title{
  text-align: center;
  padding-top: 10px;
  font-size: 48px;
  color: #131313;
  font-weight: 700;
  font-family: Work Sans;


 }
 .header-description{
    text-align: center;
    padding-top: 15px;
    color: #727272;
    font-family: Work Sans;

 }
 .btn1{
   position: relative;
   left: 370px;
   top: 20px;
   width: 100px;
   height: 30px;
   color: aliceblue;
   background-color: coral;
   border: 1px solid coral;
   border-radius: 5px;

 }
 .btn1:hover{
    background-color:rgb(28, 54, 7);
    border: 1px solid rgb(15, 58, 17);
    
}

 /* adding banner */
 .banner>img{
    width: 1100px;
    height: 550px;
    position: relative;
    left: 120px;
 
 }


 /* features section */

 .features-container{
    display: flex;
    margin-top: 50px;

 }
 .features-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 24px;
    column-gap: 24px;
    padding-left: 100px;
 }
 .features-images>img{
    width: 342px;
    height: 342px;

 }
 .features-info{
    width: 400px;
    height: 300px;
    position: relative;
    top: 200px;
    left: 50px;

 }
 .features-info-title{
    color: #131313;
    font-family: Work Sans;
    text-align: left;
    font-size: 36px;
    
    
 }
 .features-info-description{
    text-align: left;
    padding-top: 25px;
    color: #727272;
    font-family: Work Sans;

 }
 .btn2{
    position: relative;
   left: 0px;
   top: 20px;
   width: 150px;
   height: 50px;
   color: aliceblue;
   background-color: coral;
   border: 1px solid coral;
   border-radius: 5px;

   
 }
 .btn2:hover{
    background-color:rgb(28, 54, 7);
    border: 1px solid rgb(15, 58, 17);
    
}


/* second fetures styles */

.second-features-container{
    display: flex;
    

}
.second-features-info{
padding-left: 100px;
padding-top: 50px;
}
.main-info{
    width: 400px;
    height: 200px;
    
    padding-top: 10px;
   

}
.main-info-title{
    color: #131313;
    font-family: Work Sans;
    text-align: left;
    font-size: 30px;

}
.main-info-description{
    text-align: left;
    padding-top: 25px;
    color: #727272;
    font-family: Work Sans;

}
.sub-info{
    width: 350px;
    height: 120px;
    padding-top: 10px;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    padding: 30px;

}
.sub-info-title{
   
    color: #131313;
    font-family: Work Sans;
    text-align: left;
    font-size: 24px;

}
.sub-info-description{
    text-align: left;
   
    color: #727272;
    font-family: Work Sans;
    font-weight: 400px;

}
.sub-info:hover{
    background-color: antiquewhite;
    border: 1px solid greenyellow;
}

.second-fetures-images>img{
    padding-top: 10px;
    padding-left: 10px;
    width: 750px;
    height: 970px;


}
.btn3{
    position: relative;
   left: 510px;
   bottom: 960px;
   width: 100px;
   height: 50px;
   color: aliceblue;
   background-color: coral;
   border: 1px solid coral;
   border-radius: 5px;

   
 }
 .btn3:hover{
    background-color:rgb(28, 54, 7);
    border: 1px solid rgb(15, 58, 17);
    
}
